# More Pandas

### Load and prepare the data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('COVID Case Data.csv')
df

,STATE,TOTAL CASES 200617,BLACK CASES 200617,HISPANIC CASES 200617,WHITE CASES 200617,BLACK CI 200617,HISPANIC CI 200617,WHITE CI 200617,TOTAL CASES 200622,BLACK CASES 200622,...,BLACK CI 200918,HISPANIC CI 200918,WHITE CI 200918,TOTAL CASES 200922,BLACK CASES 200922,HISPANIC CASES 200922,WHITE CASES 200922,BLACK CI 200922,HISPANIC CI 200922,WHITE CI 200922
0,IOWA,24263,2426,6544,14800,1922,3345,550,26050,2605,...,3613.0,5439.0,1949.0,78812,4729,11034.0,55168,3747,5641.0,2050
1,WASHINGTON,26531,1164,8440,7031,355,859,136,28680,1205,...,1016.0,2394.0,417.0,82548,3360,23739.0,21944,1026,2417.0,424
2,CALIFORNIA,109020,5043,61492,19424,196,396,134,173824,5485,...,874.0,2065.0,613.0,781694,23014,329643.0,91656,896,2123.0,630
3,MISSISSIPPI,20152,9785,1113,5198,870,1100,309,20641,10671,...,3245.0,2666.0,1894.0,94021,37153,2753.0,32946,3303,2721.0,1959
4,FLORIDA,80109,15300,28446,43000,510,673,427,100217,17900,...,3459.0,4576.0,2922.0,687909,105963,193268.0,302728,3532,4576.0,3009
5,GEORGIA,59078,15214,8896,12840,442,855,231,64701,16523,...,2264.0,3686.0,1913.0,307339,79483,39055.0,109892,2311,3753.0,1975
6,TENNESSEE,31830,6712,8242,13346,575,2155,265,34102,7312,...,2851.0,6371.0,1882.0,184409,33954,24653.0,98566,2908,6446.0,1958
7,NORTH CAROLINA,45853,8169,13610,17118,351,1352,260,52801,8963,...,1511.0,4405.0,1303.0,195549,36123,44954.0,88190,1551,4465.0,1339
8,VIRGINIA,55775,7852,19032,11518,462,2323,219,58469,8257,...,1624.0,4042.0,735.0,142010,28335,33650.0,40061,1668,4107.0,763
9,MARYLAND,62409,18017,17020,12244,964,2707,401,64603,18657,...,2034.0,4155.0,959.0,120912,38481,26382.0,29945,2060,4196.0,981
10,MICHIGAN,66269,18861,4639,23101,1339,893,309,67711,19137,...,1813.0,1952.0,743.0,129662,25723,10373.0,57409,1827,1997.0,767
11,ILLINOIS,133639,22169,43441,26622,1198,1970,344,136762,22949,...,2042.0,3204.0,992.0,277266,38467,72296.0,80118,2079,3279.0,1036
12,OHIO,38911,9945,3127,19371,654,686,211,41578,11330,...,1935.0,634.0,859.0,145165,29284,8848.0,77911,1927,1941.0,847
13,PENNSYLVANIA,79483,10000,6300,23000,651,648,236,82168,10400,...,1280.0,1264.0,565.0,151646,19973,12511.0,56745,1300,1286.0,582
14,NEVADA,11658,815,3258,2509,262,365,167,13535,830,...,1516.0,2806.0,1041.0,76298,4784,25643.0,15966,1538,2871.0,1064
15,ARIZONA,30097,1045,10046,6892,282,437,174,54586,1382,...,1742.0,2834.0,1310.0,214846,6500,65664.0,52718,1751,2855.0,1331
16,UTAH,14937,470,6315,5125,1047,1387,205,17462,511,...,2941.0,4579.0,1127.0,65044,1366,21495.0,30229,3043,4722.0,1209
17,COLORADO,29442,1693,11356,10113,639,909,259,30539,1729,...,1071.0,1903.0,27.0,66053,2873,24446.0,24552,1085,1956.0,628
18,OKLAHOMA,8645,705,1584,5366,228,367,208,10733,826,...,1689.0,NaN,1623.0,79072,5666,NaN,44607,1836,NaN,1726
19,WISCONSIN,23198,4304,7638,12316,1103,1901,261,24819,4493,...,2664.0,4452.0,1401.0,104170,10613,18455.0,71579,2721,4594.0,1516
20,MAINE,2836,669,78,1697,3111,341,136,2957,719,...,4468.0,871.0,264.0,5146,966,201.0,3419,4492,880.0,273
21,OREGON,6098,214,2103,2644,231,375,83,6572,260,...,1104.0,2147.0,391.0,31313,1053,12285.0,12936,1135,2190.0,407
22,NEW JERSEY,167703,16283,28797,59436,1222,1574,1219,169142,16824,...,NaN,NaN,NaN,200580,21032,38603.0,48538,1579,2110.0,995

### Reshape the data from wide to long

In [10]:
def reshape_and_format(df, stubnames, i, j, dt_format):
    df_long = pd.wide_to_long(df, stubnames=stubnames, i=i, j=j, sep=' ').reset_index()
    df_long[j] = pd.to_datetime(df_long[j], format=dt_format)
    return df_long

In [11]:
cases_stubnames = ['TOTAL CASES', 'BLACK CASES', 'HISPANIC CASES', 'WHITE CASES','BLACK CI',\
                   'HISPANIC CI', 'WHITE CI']
df_long = reshape_and_format(df, cases_stubnames, 'STATE', 'DATE', '%y%m%d')
df_long

,STATE,DATE,TOTAL CASES,BLACK CASES,HISPANIC CASES,WHITE CASES,BLACK CI,HISPANIC CI,WHITE CI
0,IOWA,2020-06-17,24263.0,2426.0,6544.0,14800.0,1922.0,3345.0,550.0
1,WASHINGTON,2020-06-17,26531.0,1164.0,8440.0,7031.0,355.0,859.0,136.0
2,CALIFORNIA,2020-06-17,109020.0,5043.0,61492.0,19424.0,196.0,396.0,134.0
3,MISSISSIPPI,2020-06-17,20152.0,9785.0,1113.0,5198.0,870.0,1100.0,309.0
4,FLORIDA,2020-06-17,80109.0,15300.0,28446.0,43000.0,510.0,673.0,427.0
...,...,...,...,...,...,...,...,...,...
639,OKLAHOMA,2020-09-22,79072.0,5666.0,NaN,44607.0,1836.0,NaN,1726.0
640,WISCONSIN,2020-09-22,104170.0,10613.0,18455.0,71579.0,2721.0,4594.0,1516.0
641,MAINE,2020-09-22,5146.0,966.0,201.0,3419.0,4492.0,880.0,273.0
642,OREGON,2020-09-22,31313.0,1053.0,12285.0,12936.0,1135.0,2190.0,407.0
643,NEW JERSEY,2020-09-22,200580.0,21032.0,38603.0,48538.0,1579.0,2110.0,995.0

### Merge case data with population data

In [38]:
df_pop = pd.read_csv('state populations.csv')
df_pop

             state  population
0       California  39,512,223
1            Texas  28,995,881
2          Florida  21,477,737
3         New York  19,453,561
4         Illinois  12,671,821
5     Pennsylvania  12,801,989
6             Ohio  11,689,100
7          Georgia  10,617,423
8   North Carolina  10,488,084
9         Michigan   9,986,857
10      New Jersey   8,882,190
11        Virginia   8,535,519
12      Washington   7,614,893
13         Arizona   7,278,717
14   Massachusetts   6,949,503
15       Tennessee   6,833,174
16         Indiana   6,732,219
17        Missouri   6,137,428
18        Maryland   6,045,680
19       Wisconsin   5,822,434
20        Colorado   5,758,736
21       Minnesota   5,639,632
22  South Carolina   5,148,714
23         Alabama   4,903,185
24       Louisiana   4,648,794
25        Kentucky   4,467,673
26          Oregon   4,217,737
27        Oklahoma   3,956,971
28     Connecticut   3,565,287
29            Utah   3,205,958
30            Iowa   3,155,070
31          Nevada   3,080,156
32        Arkansas   3,017,825
33     Mississippi   2,976,149
34          Kansas   2,913,314
35      New Mexico   2,096,829
36        Nebraska   1,934,408
37   West Virginia   1,792,147
38           Idaho   1,787,065
39          Hawaii   1,415,872
40   New Hampshire   1,359,711
41           Maine   1,344,212
42         Montana   1,068,778
43    Rhode Island   1,059,361
44        Delaware     973,764
45    South Dakota     884,659
46    North Dakota     762,062
47          Alaska     731,545
48              DC     705,749
49         Vermont     623,989
50         Wyoming     578,759

In [40]:
df_pop.rename(columns={'state':'STATE'}, inplace=True)

In [41]:
df_pop['population'] = df_pop['population'].apply(lambda value: value.replace(',', ''))

In [42]:
df_pop['population'] = df_pop['population'].astype(int)

In [43]:
df_pop['STATE'] = df_pop['STATE'].apply(lambda string: string.upper())

In [45]:
df_merged = df_long.merge(df_pop, how='left', on='STATE')
df_merged

,STATE,DATE,TOTAL CASES,BLACK CASES,HISPANIC CASES,WHITE CASES,BLACK CI,HISPANIC CI,WHITE CI,population
0,IOWA,2020-06-17,24263.0,2426.0,6544.0,14800.0,1922.0,3345.0,550.0,3155070
1,WASHINGTON,2020-06-17,26531.0,1164.0,8440.0,7031.0,355.0,859.0,136.0,7614893
2,CALIFORNIA,2020-06-17,109020.0,5043.0,61492.0,19424.0,196.0,396.0,134.0,39512223
3,MISSISSIPPI,2020-06-17,20152.0,9785.0,1113.0,5198.0,870.0,1100.0,309.0,2976149
4,FLORIDA,2020-06-17,80109.0,15300.0,28446.0,43000.0,510.0,673.0,427.0,21477737
...,...,...,...,...,...,...,...,...,...,...
639,OKLAHOMA,2020-09-22,79072.0,5666.0,NaN,44607.0,1836.0,NaN,1726.0,3956971
640,WISCONSIN,2020-09-22,104170.0,10613.0,18455.0,71579.0,2721.0,4594.0,1516.0,5822434
641,MAINE,2020-09-22,5146.0,966.0,201.0,3419.0,4492.0,880.0,273.0,1344212
642,OREGON,2020-09-22,31313.0,1053.0,12285.0,12936.0,1135.0,2190.0,407.0,4217737
643,NEW JERSEY,2020-09-22,200580.0,21032.0,38603.0,48538.0,1579.0,2110.0,995.0,8882190

### Group by date

In [47]:
grouped = df_merged.groupby(['DATE']).sum()
grouped

,TOTAL CASES,BLACK CASES,HISPANIC CASES,WHITE CASES,BLACK CI,HISPANIC CI,WHITE CI,population
DATE,,,,,,,,
2020-06-17,1127936.0,176855.0,301517.0,354711.0,18614.0,27618.0,6744.0,207952830
2020-06-22,1282652.0,188968.0,331231.0,364858.0,19927.0,29584.0,6867.0,207952830
2020-06-26,1372839.0,200971.0,356553.0,386845.0,20992.0,32061.0,7341.0,207952830
2020-06-30,1509432.0,212814.0,385800.0,421089.0,21913.0,34239.0,8025.0,207952830
2020-07-02,1560320.0,200771.0,358041.0,413511.0,21462.0,33125.0,7901.0,207952830
2020-07-07,1737912.0,239292.0,429952.0,476503.0,24118.0,36575.0,8938.0,207952830
2020-07-10,1858848.0,257120.0,459479.0,518107.0,25566.0,39159.0,9661.0,207952830
2020-07-14,2015020.0,270464.0,486229.0,552077.0,26636.0,40030.0,10266.0,207952830
2020-07-17,2146647.0,289376.0,515035.0,594098.0,27906.0,41699.0,11082.0,207952830
2020-07-21,2324965.0,305062.0,552448.0,631447.0,29295.0,43580.0,11664.0,207952830
2020-07-24,2448320.0,329137.0,578669.0,688203.0,30970.0,45091.0,12852.0,207952830
2020-07-28,2643298.0,335384.0,590217.0,712492.0,31518.0,45469.0,13301.0,207952830
2020-07-31,2750104.0,355559.0,652341.0,771948.0,33319.0,49274.0,14349.0,207952830
2020-08-04,2894416.0,374455.0,675574.0,810147.0,34345.0,51037.0,15078.0,207952830
2020-08-07,2991365.0,365632.0,701500.0,830749.0,33729.0,53929.0,15530.0,207952830
2020-08-11,3128353.0,417346.0,756734.0,918523.0,37565.0,54791.0,17254.0,207952830
2020-08-14,3135466.0,436387.0,822019.0,933529.0,38807.0,64623.0,17787.0,207952830
2020-08-18,3360759.0,453144.0,820129.0,1029080.0,40296.0,58085.0,19165.0,207952830
2020-08-21,3225561.0,467830.0,821921.0,1078756.0,41644.0,55346.0,20177.0,207952830
2020-08-25,3546110.0,472755.0,875596.0,1116607.0,42077.0,60223.0,20857.0,207952830
2020-08-28,3632124.0,473296.0,868308.0,1115284.0,42395.0,59893.0,20872.0,207952830
2020-09-01,3734708.0,499036.0,858482.0,1098480.0,43319.0,58070.0,20823.0,207952830
2020-09-04,3799977.0,510054.0,902343.0,1227743.0,44926.0,63638.0,23124.0,207952830
2020-09-08,3893226.0,521051.0,962189.0,1274265.0,45773.0,65088.0,23951.0,207952830
2020-09-11,3951746.0,529132.0,976865.0,1307738.0,46470.0,66153.0,24633.0,207952830
2020-09-15,4053325.0,539694.0,966594.0,1358637.0,47469.0,68362.0,25680.0,207952830
2020-09-18,4117741.0,527834.0,978090.0,1330690.0,46756.0,66445.0,24930.0,207952830
2020-09-22,4221464.0,558895.0,1039951.0,1447823.0,49315.0,71126.0,27469.0,207952830

In [49]:
grouped.to_csv('grouped_cases.csv')