# Week 5: Intro to Pandas

## Objectives:
1. Walk through an exploration of a dataset
2. Practice using pandas dataframes with functions

### Import libraries

In [1]:
import os
import pandas as pd

### Set a relative file path

In [2]:
base_path = '/Users/Molly/Documents/GitHub/Spring 21 TA/Molly-Notebooks/5-Intro to Pandas'

### Load and explore the data

In [3]:
file_path = os.path.join(base_path, 'COVID Case Data.csv')
df = pd.read_csv(file_path)
df

,STATE,TOTAL CASES 200617,BLACK CASES 200617,HISPANIC CASES 200617,WHITE CASES 200617,BLACK CI 200617,HISPANIC CI 200617,WHITE CI 200617,TOTAL CASES 200622,BLACK CASES 200622,...,BLACK CI 200918,HISPANIC CI 200918,WHITE CI 200918,TOTAL CASES 200922,BLACK CASES 200922,HISPANIC CASES 200922,WHITE CASES 200922,BLACK CI 200922,HISPANIC CI 200922,WHITE CI 200922
0,IOWA,24263,2426,6544,14800,1922,3345,550,26050,2605,...,3613.0,5439.0,1949.0,78812,4729,11034.0,55168,3747,5641.0,2050
1,WASHINGTON,26531,1164,8440,7031,355,859,136,28680,1205,...,1016.0,2394.0,417.0,82548,3360,23739.0,21944,1026,2417.0,424
2,CALIFORNIA,109020,5043,61492,19424,196,396,134,173824,5485,...,874.0,2065.0,613.0,781694,23014,329643.0,91656,896,2123.0,630
3,MISSISSIPPI,20152,9785,1113,5198,870,1100,309,20641,10671,...,3245.0,2666.0,1894.0,94021,37153,2753.0,32946,3303,2721.0,1959
4,FLORIDA,80109,15300,28446,43000,510,673,427,100217,17900,...,3459.0,4576.0,2922.0,687909,105963,193268.0,302728,3532,4576.0,3009
5,GEORGIA,59078,15214,8896,12840,442,855,231,64701,16523,...,2264.0,3686.0,1913.0,307339,79483,39055.0,109892,2311,3753.0,1975
6,TENNESSEE,31830,6712,8242,13346,575,2155,265,34102,7312,...,2851.0,6371.0,1882.0,184409,33954,24653.0,98566,2908,6446.0,1958
7,NORTH CAROLINA,45853,8169,13610,17118,351,1352,260,52801,8963,...,1511.0,4405.0,1303.0,195549,36123,44954.0,88190,1551,4465.0,1339
8,VIRGINIA,55775,7852,19032,11518,462,2323,219,58469,8257,...,1624.0,4042.0,735.0,142010,28335,33650.0,40061,1668,4107.0,763
9,MARYLAND,62409,18017,17020,12244,964,2707,401,64603,18657,...,2034.0,4155.0,959.0,120912,38481,26382.0,29945,2060,4196.0,981
10,MICHIGAN,66269,18861,4639,23101,1339,893,309,67711,19137,...,1813.0,1952.0,743.0,129662,25723,10373.0,57409,1827,1997.0,767
11,ILLINOIS,133639,22169,43441,26622,1198,1970,344,136762,22949,...,2042.0,3204.0,992.0,277266,38467,72296.0,80118,2079,3279.0,1036
12,OHIO,38911,9945,3127,19371,654,686,211,41578,11330,...,1935.0,634.0,859.0,145165,29284,8848.0,77911,1927,1941.0,847
13,PENNSYLVANIA,79483,10000,6300,23000,651,648,236,82168,10400,...,1280.0,1264.0,565.0,151646,19973,12511.0,56745,1300,1286.0,582
14,NEVADA,11658,815,3258,2509,262,365,167,13535,830,...,1516.0,2806.0,1041.0,76298,4784,25643.0,15966,1538,2871.0,1064
15,ARIZONA,30097,1045,10046,6892,282,437,174,54586,1382,...,1742.0,2834.0,1310.0,214846,6500,65664.0,52718,1751,2855.0,1331
16,UTAH,14937,470,6315,5125,1047,1387,205,17462,511,...,2941.0,4579.0,1127.0,65044,1366,21495.0,30229,3043,4722.0,1209
17,COLORADO,29442,1693,11356,10113,639,909,259,30539,1729,...,1071.0,1903.0,27.0,66053,2873,24446.0,24552,1085,1956.0,628
18,OKLAHOMA,8645,705,1584,5366,228,367,208,10733,826,...,1689.0,NaN,1623.0,79072,5666,NaN,44607,1836,NaN,1726
19,WISCONSIN,23198,4304,7638,12316,1103,1901,261,24819,4493,...,2664.0,4452.0,1401.0,104170,10613,18455.0,71579,2721,4594.0,1516
20,MAINE,2836,669,78,1697,3111,341,136,2957,719,...,4468.0,871.0,264.0,5146,966,201.0,3419,4492,880.0,273
21,OREGON,6098,214,2103,2644,231,375,83,6572,260,...,1104.0,2147.0,391.0,31313,1053,12285.0,12936,1135,2190.0,407
22,NEW JERSEY,167703,16283,28797,59436,1222,1574,1219,169142,16824,...,NaN,NaN,NaN,200580,21032,38603.0,48538,1579,2110.0,995

What variables are in the dataset?

In [4]:
df.columns

Index(['STATE', 'TOTAL CASES 200617', 'BLACK CASES 200617',
       'HISPANIC CASES 200617', 'WHITE CASES 200617', 'BLACK CI 200617',
       'HISPANIC CI 200617', 'WHITE CI 200617', 'TOTAL CASES 200622',
       'BLACK CASES 200622',
       ...
       'BLACK CI 200918', 'HISPANIC CI 200918', 'WHITE CI 200918',
       'TOTAL CASES 200922', 'BLACK CASES 200922', 'HISPANIC CASES 200922',
       'WHITE CASES 200922', 'BLACK CI 200922', 'HISPANIC CI 200922',
       'WHITE CI 200922'],
      dtype='object', length=197)

How many observations are there?

In [8]:
len(df['STATE'])

23

In [6]:
df.shape

(23, 197)

Does each column in the dataframe have the expected datatype?

In [7]:
df.dtypes

STATE                     object
TOTAL CASES 200617         int64
BLACK CASES 200617         int64
HISPANIC CASES 200617      int64
WHITE CASES 200617         int64
                          ...
HISPANIC CASES 200922    float64
WHITE CASES 200922         int64
BLACK CI 200922            int64
HISPANIC CI 200922       float64
WHITE CI 200922            int64
Length: 197, dtype: object

In [10]:
type(df['STATE'][0])

str

Do we care about frequent values?

In [11]:
df['STATE'].value_counts()

NORTH CAROLINA    1
VIRGINIA          1
GEORGIA           1
OREGON            1
ARIZONA           1
MICHIGAN          1
MISSISSIPPI       1
COLORADO          1
ILLINOIS          1
WASHINGTON        1
MAINE             1
NEVADA            1
PENNSYLVANIA      1
OHIO              1
IOWA              1
CALIFORNIA        1
OKLAHOMA          1
MARYLAND          1
WISCONSIN         1
FLORIDA           1
NEW JERSEY        1
TENNESSEE         1
UTAH              1
Name: STATE, dtype: int64

### Summarize the data

In [13]:
df.describe()

,TOTAL CASES 200617,BLACK CASES 200617,HISPANIC CASES 200617,WHITE CASES 200617,BLACK CI 200617,HISPANIC CI 200617,WHITE CI 200617,TOTAL CASES 200622,BLACK CASES 200622,HISPANIC CASES 200622,...,BLACK CI 200918,HISPANIC CI 200918,WHITE CI 200918,TOTAL CASES 200922,BLACK CASES 200922,HISPANIC CASES 200922,WHITE CASES 200922,BLACK CI 200922,HISPANIC CI 200922,WHITE CI 200922
count,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,22.000000,...,22.000000,21.000000,22.000000,23.000000,23.000000,22.000000,23.000000,23.000000,22.000000,23.000000
mean,49040.695652,7689.347826,13109.434783,15422.217391,809.304348,1200.782609,293.217391,55767.478261,8216.000000,15055.954545,...,2125.272727,3164.047619,1133.181818,183541.913043,24299.782609,47270.500000,62948.826087,2144.130435,3233.000000,1194.304348
std,42262.703555,6966.554918,14878.670389,13520.834438,668.409335,843.060817,227.964103,48591.940316,7332.601194,16518.246939,...,960.829561,1522.011645,692.336598,189434.461637,25859.730358,74678.032501,59844.939027,963.833176,1454.297769,671.545262
min,2836.000000,214.000000,78.000000,1697.000000,196.000000,341.000000,83.000000,2957.000000,260.000000,89.000000,...,874.000000,634.000000,27.000000,5146.000000,966.000000,201.000000,3419.000000,896.000000,880.000000,273.000000
25%,21675.000000,1104.500000,3948.500000,6129.000000,353.000000,542.500000,189.500000,22730.000000,1293.500000,5712.750000,...,1512.250000,2065.000000,643.500000,78942.000000,4756.500000,12341.500000,30087.000000,1544.500000,2113.250000,696.500000
50%,31830.000000,6712.000000,8242.000000,12316.000000,639.000000,893.000000,236.000000,41578.000000,7312.000000,9138.000000,...,1874.000000,2834.000000,1016.500000,129662.000000,21032.000000,24549.500000,52718.000000,1836.000000,2863.000000,1036.000000
75%,64339.000000,12607.000000,15315.000000,19397.500000,1075.000000,1737.500000,309.000000,66206.000000,13926.500000,17189.000000,...,2804.250000,4405.000000,1567.500000,198064.500000,35038.500000,38942.000000,79014.500000,2814.500000,4397.750000,1621.000000
max,167703.000000,22169.000000,61492.000000,59436.000000,3111.000000,3345.000000,1219.000000,173824.000000,22949.000000,69392.000000,...,4468.000000,6371.000000,2922.000000,781694.000000,105963.000000,329643.000000,302728.000000,4492.000000,6446.000000,3009.000000

In [14]:
df['TOTAL CASES 200617'].describe()

count        23.000000
mean      49040.695652
std       42262.703555
min        2836.000000
25%       21675.000000
50%       31830.000000
75%       64339.000000
max      167703.000000
Name: TOTAL CASES 200617, dtype: float64

In [15]:
df['TOTAL CASES 200617'].mean()

49040.69565217391

### Subset the data

Subset by column name

In [16]:
june_totals_cols = ['STATE', 'TOTAL CASES 200617', 'TOTAL CASES 200622', 'TOTAL CASES 200626']
june_totals = df[june_totals_cols]
june_totals

             STATE  TOTAL CASES 200617  TOTAL CASES 200622  TOTAL CASES 200626
0             IOWA               24263               26050               27473
1       WASHINGTON               26531               28680               30367
2       CALIFORNIA              109020              173824              195571
3      MISSISSIPPI               20152               20641               24516
4          FLORIDA               80109              100217              114018
5          GEORGIA               59078               64701               71095
6        TENNESSEE               31830               34102               38034
7   NORTH CAROLINA               45853               52801               57183
8         VIRGINIA               55775               58469               60570
9         MARYLAND               62409               64603               66115
10        MICHIGAN               66269               67711               68989
11        ILLINOIS              133639              136762              139434
12            OHIO               38911               41578               47651
13    PENNSYLVANIA               79483               82168               83770
14          NEVADA               11658               13535               14859
15         ARIZONA               30097               54586               63030
16            UTAH               14937               17462               19374
17        COLORADO               29442               30539               31749
18        OKLAHOMA                8645               10733               11948
19       WISCONSIN               23198               24819               26227
20           MAINE                2836                2957                3102
21          OREGON                6098                6572                7568
22      NEW JERSEY              167703              169142              170196

Subset by column value

In [19]:
keep_states = ['ILLINOIS', 'PENNSYLVANIA']
temp_df = df[df['STATE'].isin(keep_states)]
small_df = df[df['STATE'].isin(['ILLINOIS', 'PENNSYLVANIA'])]
temp = df[df['STATE'] != 'ILLINOIS']
temp

,STATE,TOTAL CASES 200617,BLACK CASES 200617,HISPANIC CASES 200617,WHITE CASES 200617,BLACK CI 200617,HISPANIC CI 200617,WHITE CI 200617,TOTAL CASES 200622,BLACK CASES 200622,...,BLACK CI 200918,HISPANIC CI 200918,WHITE CI 200918,TOTAL CASES 200922,BLACK CASES 200922,HISPANIC CASES 200922,WHITE CASES 200922,BLACK CI 200922,HISPANIC CI 200922,WHITE CI 200922
0,IOWA,24263,2426,6544,14800,1922,3345,550,26050,2605,...,3613.0,5439.0,1949.0,78812,4729,11034.0,55168,3747,5641.0,2050
1,WASHINGTON,26531,1164,8440,7031,355,859,136,28680,1205,...,1016.0,2394.0,417.0,82548,3360,23739.0,21944,1026,2417.0,424
2,CALIFORNIA,109020,5043,61492,19424,196,396,134,173824,5485,...,874.0,2065.0,613.0,781694,23014,329643.0,91656,896,2123.0,630
3,MISSISSIPPI,20152,9785,1113,5198,870,1100,309,20641,10671,...,3245.0,2666.0,1894.0,94021,37153,2753.0,32946,3303,2721.0,1959
4,FLORIDA,80109,15300,28446,43000,510,673,427,100217,17900,...,3459.0,4576.0,2922.0,687909,105963,193268.0,302728,3532,4576.0,3009
5,GEORGIA,59078,15214,8896,12840,442,855,231,64701,16523,...,2264.0,3686.0,1913.0,307339,79483,39055.0,109892,2311,3753.0,1975
6,TENNESSEE,31830,6712,8242,13346,575,2155,265,34102,7312,...,2851.0,6371.0,1882.0,184409,33954,24653.0,98566,2908,6446.0,1958
7,NORTH CAROLINA,45853,8169,13610,17118,351,1352,260,52801,8963,...,1511.0,4405.0,1303.0,195549,36123,44954.0,88190,1551,4465.0,1339
8,VIRGINIA,55775,7852,19032,11518,462,2323,219,58469,8257,...,1624.0,4042.0,735.0,142010,28335,33650.0,40061,1668,4107.0,763
9,MARYLAND,62409,18017,17020,12244,964,2707,401,64603,18657,...,2034.0,4155.0,959.0,120912,38481,26382.0,29945,2060,4196.0,981
10,MICHIGAN,66269,18861,4639,23101,1339,893,309,67711,19137,...,1813.0,1952.0,743.0,129662,25723,10373.0,57409,1827,1997.0,767
12,OHIO,38911,9945,3127,19371,654,686,211,41578,11330,...,1935.0,634.0,859.0,145165,29284,8848.0,77911,1927,1941.0,847
13,PENNSYLVANIA,79483,10000,6300,23000,651,648,236,82168,10400,...,1280.0,1264.0,565.0,151646,19973,12511.0,56745,1300,1286.0,582
14,NEVADA,11658,815,3258,2509,262,365,167,13535,830,...,1516.0,2806.0,1041.0,76298,4784,25643.0,15966,1538,2871.0,1064
15,ARIZONA,30097,1045,10046,6892,282,437,174,54586,1382,...,1742.0,2834.0,1310.0,214846,6500,65664.0,52718,1751,2855.0,1331
16,UTAH,14937,470,6315,5125,1047,1387,205,17462,511,...,2941.0,4579.0,1127.0,65044,1366,21495.0,30229,3043,4722.0,1209
17,COLORADO,29442,1693,11356,10113,639,909,259,30539,1729,...,1071.0,1903.0,27.0,66053,2873,24446.0,24552,1085,1956.0,628
18,OKLAHOMA,8645,705,1584,5366,228,367,208,10733,826,...,1689.0,NaN,1623.0,79072,5666,NaN,44607,1836,NaN,1726
19,WISCONSIN,23198,4304,7638,12316,1103,1901,261,24819,4493,...,2664.0,4452.0,1401.0,104170,10613,18455.0,71579,2721,4594.0,1516
20,MAINE,2836,669,78,1697,3111,341,136,2957,719,...,4468.0,871.0,264.0,5146,966,201.0,3419,4492,880.0,273
21,OREGON,6098,214,2103,2644,231,375,83,6572,260,...,1104.0,2147.0,391.0,31313,1053,12285.0,12936,1135,2190.0,407
22,NEW JERSEY,167703,16283,28797,59436,1222,1574,1219,169142,16824,...,NaN,NaN,NaN,200580,21032,38603.0,48538,1579,2110.0,995

Subset by dropping columns

In [24]:
df.drop(columns=june_totals_cols, inplace=True)

In [25]:
df

,BLACK CASES 200617,HISPANIC CASES 200617,WHITE CASES 200617,BLACK CI 200617,HISPANIC CI 200617,WHITE CI 200617,BLACK CASES 200622,HISPANIC CASES 200622,WHITE CASES 200622,BLACK CI 200622,...,BLACK CI 200918,HISPANIC CI 200918,WHITE CI 200918,TOTAL CASES 200922,BLACK CASES 200922,HISPANIC CASES 200922,WHITE CASES 200922,BLACK CI 200922,HISPANIC CI 200922,WHITE CI 200922
0,2426,6544,14800,1922,3345,550,2605,6773.0,16151,2064,...,3613.0,5439.0,1949.0,78812,4729,11034.0,55168,3747,5641.0,2050
1,1164,8440,7031,355,859,136,1205,8872.0,7300,368,...,1016.0,2394.0,417.0,82548,3360,23739.0,21944,1026,2417.0,424
2,5043,61492,19424,196,396,134,5485,69392.0,21177,214,...,874.0,2065.0,613.0,781694,23014,329643.0,91656,896,2123.0,630
3,9785,1113,5198,870,1100,309,10671,1111.0,5466,949,...,3245.0,2666.0,1894.0,94021,37153,2753.0,32946,3303,2721.0,1959
4,15300,28446,43000,510,673,427,17900,34111.0,48500,597,...,3459.0,4576.0,2922.0,687909,105963,193268.0,302728,3532,4576.0,3009
5,15214,8896,12840,442,855,231,16523,10299.0,21803,480,...,2264.0,3686.0,1913.0,307339,79483,39055.0,109892,2311,3753.0,1975
6,6712,8242,13346,575,2155,265,7312,9404.0,14657,626,...,2851.0,6371.0,1882.0,184409,33954,24653.0,98566,2908,6446.0,1958
7,8169,13610,17118,351,1352,260,8963,16016.0,19627,385,...,1511.0,4405.0,1303.0,195549,36123,44954.0,88190,1551,4465.0,1339
8,7852,19032,11518,462,2323,219,8257,19962.0,12121,486,...,1624.0,4042.0,735.0,142010,28335,33650.0,40061,1668,4107.0,763
9,18017,17020,12244,964,2707,401,18657,17580.0,12693,999,...,2034.0,4155.0,959.0,120912,38481,26382.0,29945,2060,4196.0,981
10,18861,4639,23101,1339,893,309,19137,5417.0,23744,1359,...,1813.0,1952.0,743.0,129662,25723,10373.0,57409,1827,1997.0,767
11,22169,43441,26622,1198,1970,344,22949,44647.0,27901,1240,...,2042.0,3204.0,992.0,277266,38467,72296.0,80118,2079,3279.0,1036
12,9945,3127,19371,654,686,211,11330,3673.0,22379,746,...,1935.0,634.0,859.0,145165,29284,8848.0,77911,1927,1941.0,847
13,10000,6300,23000,651,648,236,10400,6600.0,24200,677,...,1280.0,1264.0,565.0,151646,19973,12511.0,56745,1300,1286.0,582
14,815,3258,2509,262,365,167,830,3669.0,2583,267,...,1516.0,2806.0,1041.0,76298,4784,25643.0,15966,1538,2871.0,1064
15,1045,10046,6892,282,437,174,1382,14165.0,9040,372,...,1742.0,2834.0,1310.0,214846,6500,65664.0,52718,1751,2855.0,1331
16,470,6315,5125,1047,1387,205,511,7471.0,5956,1139,...,2941.0,4579.0,1127.0,65044,1366,21495.0,30229,3043,4722.0,1209
17,1693,11356,10113,639,909,259,1729,11693.0,10490,653,...,1071.0,1903.0,27.0,66053,2873,24446.0,24552,1085,1956.0,628
18,705,1584,5366,228,367,208,826,NaN,6317,268,...,1689.0,NaN,1623.0,79072,5666,NaN,44607,1836,NaN,1726
19,4304,7638,12316,1103,1901,261,4493,8064.0,13340,1152,...,2664.0,4452.0,1401.0,104170,10613,18455.0,71579,2721,4594.0,1516
20,669,78,1697,3111,341,136,719,89.0,1751,3343,...,4468.0,871.0,264.0,5146,966,201.0,3419,4492,880.0,273
21,214,2103,2644,231,375,83,260,2271.0,2793,280,...,1104.0,2147.0,391.0,31313,1053,12285.0,12936,1135,2190.0,407
22,16283,28797,59436,1222,1574,1219,16824,29952.0,34869,1263,...,NaN,NaN,NaN,200580,21032,38603.0,48538,1579,2110.0,995

### Functions and Pandas

Write a function that takes a series as an argument

In [26]:
def find_delta(first_wave, second_wave):
    delta = second_wave - first_wave
    return delta

In [30]:
june_totals['CASE CHANGE'] = find_delta(june_totals['TOTAL CASES 200617'], june_totals['TOTAL CASES 200626'])
june_totals

<ipython-input-30-71f2ffed9414>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  june_totals['CASE CHANGE'] = find_delta(june_totals['TOTAL CASES 200617'], june_totals['TOTAL CASES 200626'])

,STATE,TOTAL CASES 200617,TOTAL CASES 200622,TOTAL CASES 200626,CASE CHANGE
0,IOWA,24263,26050,27473,3210
1,WASHINGTON,26531,28680,30367,3836
2,CALIFORNIA,109020,173824,195571,86551
3,MISSISSIPPI,20152,20641,24516,4364
4,FLORIDA,80109,100217,114018,33909
5,GEORGIA,59078,64701,71095,12017
6,TENNESSEE,31830,34102,38034,6204
7,NORTH CAROLINA,45853,52801,57183,11330
8,VIRGINIA,55775,58469,60570,4795
9,MARYLAND,62409,64603,66115,3706
10,MICHIGAN,66269,67711,68989,2720
11,ILLINOIS,133639,136762,139434,5795
12,OHIO,38911,41578,47651,8740
13,PENNSYLVANIA,79483,82168,83770,4287
14,NEVADA,11658,13535,14859,3201
15,ARIZONA,30097,54586,63030,32933
16,UTAH,14937,17462,19374,4437
17,COLORADO,29442,30539,31749,2307
18,OKLAHOMA,8645,10733,11948,3303
19,WISCONSIN,23198,24819,26227,3029
20,MAINE,2836,2957,3102,266
21,OREGON,6098,6572,7568,1470
22,NEW JERSEY,167703,169142,170196,2493

In [29]:
june_totals['CASE CHANGE'] = delta_cases
june_totals

<ipython-input-29-7651af8d8ec0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  june_totals['CASE CHANGE'] = delta_cases

,STATE,TOTAL CASES 200617,TOTAL CASES 200622,TOTAL CASES 200626,CASE CHANGE
0,IOWA,24263,26050,27473,3210
1,WASHINGTON,26531,28680,30367,3836
2,CALIFORNIA,109020,173824,195571,86551
3,MISSISSIPPI,20152,20641,24516,4364
4,FLORIDA,80109,100217,114018,33909
5,GEORGIA,59078,64701,71095,12017
6,TENNESSEE,31830,34102,38034,6204
7,NORTH CAROLINA,45853,52801,57183,11330
8,VIRGINIA,55775,58469,60570,4795
9,MARYLAND,62409,64603,66115,3706
10,MICHIGAN,66269,67711,68989,2720
11,ILLINOIS,133639,136762,139434,5795
12,OHIO,38911,41578,47651,8740
13,PENNSYLVANIA,79483,82168,83770,4287
14,NEVADA,11658,13535,14859,3201
15,ARIZONA,30097,54586,63030,32933
16,UTAH,14937,17462,19374,4437
17,COLORADO,29442,30539,31749,2307
18,OKLAHOMA,8645,10733,11948,3303
19,WISCONSIN,23198,24819,26227,3029
20,MAINE,2836,2957,3102,266
21,OREGON,6098,6572,7568,1470
22,NEW JERSEY,167703,169142,170196,2493

In [32]:
my_list = [1, 2, 3, 4]
new_list = []
for value in my_list:
    if value in [1, 2]:
        new_value = value*2
    else:
        new_value = value*3
    new_list.append(new_value)
print(new_list)

[2, 4, 9, 12]

In [35]:
new_list = [value*2 if value in [1, 2] else value*3 for value in my_list]
new_list

#[f(x) if condition else g(x) for x in sequence]

[2, 4, 9, 12]